/* Type face */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

/* Icons */
@import "ionicons/css/ionicons.min.css";

:root {
  --main-color: #0d9275;
  --text-color: #343539;
  --sidebar-color: #e4fff5;
  --link-bg-color: #cdece5;
  --gray-color: #d9d9d9;
  --strong-green-color: #0d9275;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--text-color);
  display: flex;
  grid-template-columns: 0.4fr 1.6fr;
}
main {
  width: 100%;
  padding: 3rem;
}
hr {
  background-color: #e7e7e7;
  margin-left: 2rem;
  margin-right: 2rem;
}
.grid {
  display: grid;
}
.grid__2__cols {
  grid-template-columns: 1.2fr 0.8fr;
}
.col__gap__2 {
  column-gap: 2rem;
}
.footer {
  padding: 8rem 0 0 0;
  text-align: center;
}
.heading__primary {
  font-size: 4rem;
}

/* Customize scrollbar */
.events::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
}

.events::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded edges */
}

.events::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
.birthday__container__card::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
}

.birthday__container__card::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded edges */
}

.birthday__container__card::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

.d__none {
  display: none;
}
.margin__bottom__2 {
  margin-bottom: 2rem;
}

.btn__primary {
  background-color: var(--main-color);
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn__primary ion-icon {
  width: 2rem;
  height: 2rem;
}

.btn__edit__resident {
  background-color: #fff;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  border: 1px solid var(--main-color);
  padding: 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Input Elements */
.input__box {
  position: relative;
}
.input__title {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 1.6rem;
  color: #545454;
  text-transform: capitalize;
}

.information__input {
  padding: 4.3rem 0 2rem 2rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  border: 1px solid gray;
  display: inline-block;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.red__dot {
  color: #ef4949;
}
/* Input Elements End */
/* modal */
.row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.input__box {
  flex: 1 1 200px;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.modal__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 90%;
  overflow-y: scroll;
  padding-right: 1rem;
}
.modal__body::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
}

.modal__body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded edges */
}

.modal__body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}

.radio__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: #fff;
  padding: 3rem 2rem 3rem 3rem;
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  height: 95%;
  /* overflow-y: scroll; */
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(2px); /* Adds blur effect */
  z-index: 1600;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.wrapper.open,
.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal__heading {
  font-size: 2.4rem;
  font-weight: 500;
}
.modal__subheading {
  font-weight: 600;
  font-size: 1.8rem;
}
.radio__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn__box__modal {
  align-self: end;
}
.radio__heading {
  font-size: 1.6rem;
  color: #545454;
}

/* Reusable */

.flex__d__col {
  flex-direction: column;
}

/* TAB PANES */
.tab__container {
  padding: 0 0 2rem 0;
  position: relative;
  display: flex;
  gap: 1rem;
}

.tab__btn {
  background-color: #fff;
  border: none;
  padding: 1.5rem 0.5rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
}
.active__tab {
  position: absolute;
  bottom: -2rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-color);
  visibility: hidden;
  opacity: 0;
}

.btn__container {
  position: relative;
}

.visible .active__tab {
  visibility: visible;
  opacity: 1;
}
.visible .tab__btn {
  color: var(--main-color);
}

.heading__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.btn__secondary {
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #828282;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn__secondary.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

textarea {
  resize: none;
  font-family: "roboto", sans-serif;
}

/* Modal */

select {
  appearance: none; /* Removes default select styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none; /* Removes dropdown arrow */
}

.grid {
  display: grid;
}

/* Success Indicator */
.success__indicator.hide {
  visibility: hidden;
  opacity: 0;
  top: 3rem;
}
.success__indicator {
  position: fixed;
  width: 100%;
  top: 5rem;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 2002;
}
.indicator__container {
  padding: 2rem 4rem;
  background-color: #d4edda;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 40rem;
  min-width: 30rem;
  border: 1px solid #1c8515;
  z-index: 2002;
}
.indicator__text {
  color: #1c8515;
  font-weight: 600;
}
.indicator__container .icon__link {
  fill: #1c8515;
}

.error-email {
  color: #d14e4e;
  margin-top: 1rem;
}

.text-success {
  background-color: #e1f4e7;
  color: #5ab87b;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.text-inactive {
  background-color: #f0f0f0;
  color: #858585;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.button__box .icon__link {
  width: 2rem;
  height: 2rem;
}
input[type="datetime-local"] {
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.d__none {
  display: none;
}
.pos__rel {
  position: relative;
}
.pos__abs {
  position: absolute;
}

.select__chev__down {
  width: 2rem;
  height: 2rem;
  color: var(--black-color);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.heading__container .subheading {
  font-weight: 600;
  font-size: 2rem;
}

.truncate__text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/* CUSTOM LOADER */
.custom__loader.hide {
  visibility: hidden;
  opacity: 0;
}
.custom__loader {
  position: fixed;
  z-index: 99999999;
  background-color: rgb(25 25 25 / 75%);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}
.pl {
  width: 6em;
  height: 6em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}
.img__placeholder {
  cursor: pointer;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img__placeholder.hide {
  opacity: 0;
  visibility: hidden;
}

/* Data Tables */
th.sorting::after,
th.sorting::before {
  display: none !important; /* Hides sorting icons */
}

/* Select Entries per  page */
div.dt-container select.dt-input {
  padding: 1rem !important;
  text-align: center !important;
  cursor: pointer;
}
/* Entries title */
label[for="dt-length-0"] {
  text-transform: capitalize !important;
  margin-left: 1rem !important;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

/* ERROR HANDLER */
.error__handler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  gap: 3rem;
  /* max-width: 20rem; */
  background-color: #ffdfdf;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

/* ERROR DISPLAY */
.error__display.hide {
  visibility: hidden;
  opacity: 0;
  top: 0;
}
.error__display {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 4rem;
  left: 50%;
  gap: 4rem;
  transform: translateX(-50%);
  z-index: 2001;
  padding: 2rem;
  background-color: #fff4f4;
  border-radius: 1rem;
  max-width: 60rem;
  min-width: 40rem;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); */
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
  border: 1px solid #e63131;
  color: #e63131;
}

.error__text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.error__text::first-letter {
  text-transform: uppercase;
}
/* ERROR DISPLAY */

/* VALIDATOR */
.validator.hide {
  visibility: hidden;
  opacity: 0;
  top: 0;
}
.validator {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2001;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 60rem;
  min-width: 40rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
  width: 100%;
}
.validator__head {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.validator__footer {
  text-align: right;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid gray;
}
.validator__icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.validator__header {
  padding: 1rem 0;
}
.validator__btn {
  border: none;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.validator__cancel {
  border: 1px solid rgb(160, 160, 160);
}
.validator__proceed,
.validator__proceed__archive {
  background-color: var(--main-color);
  color: #fff;
}

/* DATA TABLES */
#residentsTable {
  width: 100% !important;
}

.dataTables_wrapper {
  width: 100%;
}
.btn__delete {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fdcfcf;
  color: #cf0606;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

th,
td {
  text-transform: capitalize;
}

.custom-popup {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Leaflet Override */
.leaflet-popup-content p {
  margin: 0 !important;
  margin: 0 !important;
  font-size: 1.4rem;
}

.popup__names {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.house__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #dbeafe;
  color: #1e40af;
  font-weight: 600;
  text-align: center;
}

.popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 1rem;
}
.popup__heading {
  font-weight: 600;
}
.popup__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.coordinates__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.family-head {
  background-color: #e8f2ff;
  color: #2d60a2;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.members__container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.popup__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup__address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px; /* Adjust width as needed */
  display: block;
}
.pin__type {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #0d9275;
  font-weight: 600;
}

.leaflet-popup-content {
  width: 30rem;
}

.fa-solid,
.fas {
  font-weight: 900;
  padding: 0.5rem;
  background-color: #ebebeb;
  border-radius: 0.4rem;
  color: #b3b3b3;
}
.delete__resident {
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: transparent;
  color: red;
}
.resident__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-marker {
  border: none;
  background-color: #0d9275;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn__group {
  z-index: 9999999;
  position: absolute;
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}
.map__box {
  display: flex;
  justify-content: center;
  position: relative;
}
.btn__edit__mode,
.btn__hide__markers {
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  color: #2f2f2f;
  border: 1px solid #aeaeae;
  border-radius: 0.5rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.btn__edit__mode.selected {
  background-color: #2f2f2f;
  color: #fff;
}
.btn__hide__markers.selected {
  background-color: #2f2f2f;
  color: #fff;
}
.search__box {
  position: relative;
}
#searchHouseInput {
  height: 100%;
  padding: 0 5rem 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid #aeaeae;
}
#searchHouseButton {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #aeaeae;
  padding: 1rem;
  background-color: var(--main-color);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
#searchHouseInput:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit; /* Keeps the default border */
}

.header__container__text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn__group {
  z-index: 498;
}

.input__group .information__input {
  padding: 2rem;
}

/* Hiding of broken images icon for blank src*/
.user__name {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}
