/* Table */
table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
  cursor: pointer;
  padding: 3rem;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 12px;
  display: none;
}
table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: left !important;
}

/* Add spacing below the table */
.dataTables_wrapper {
  margin-bottom: 20px; /* Adjust as needed */
}

/* Round the first and last th (header cells) */
table.dataTable thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
table.dataTable thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Ensure table has spacing below */
table.dataTable {
  border-collapse: separate;
  border-spacing: 0;
}

tr {
  background-color: #f3f9f8;
}
th {
  border: none !important;
}
th,
td,
tr {
  text-align: left;
}
table.dataTable.display > tbody > tr:nth-child(odd) > .sorting_1,
table.dataTable.order-column.stripe > tbody > tr:nth-child(odd) > .sorting_1 {
  box-shadow: unset !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  box-shadow: unset;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  box-shadow: unset !important;
}
table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  box-shadow: unset !important;
}
table.dataTable.order-column > tbody tr > .sorting_1,
table.dataTable.order-column > tbody tr > .sorting_2,
table.dataTable.order-column > tbody tr > .sorting_3,
table.dataTable.display > tbody tr > .sorting_1,
table.dataTable.display > tbody tr > .sorting_2,
table.dataTable.display > tbody tr > .sorting_3 {
  box-shadow: unset !important;
}
table.dataTable.hover > tbody > tr:hover > *,
table.dataTable.display > tbody > tr:hover > * {
  box-shadow: unset !important;
}
table.dataTable.stripe > tbody > tr:nth-child(odd) > *,
table.dataTable.display > tbody > tr:nth-child(odd) > * {
  box-shadow: unset !important;
}

table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
  padding: 3rem !important;
}
div.dt-container {
  position: relative;
  clear: both;
  overflow-y: scroll;
  max-height: 50rem;
  padding-right: 2rem;
}
div.dt-container::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar */
  padding: 2rem;
}

div.dt-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 10px; /* Rounded edges */
}

div.dt-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker on hover */
}
